<div class="pkdx"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="1000"
    (scrolled)="onScroll()">
  <a *ngFor="let pokemon of data | async" class="pkdx__item">
    <article class="pkdx__article">
      <figure class="pkdx__figure">
        <img class="pkdx__image" [src]="getImagePokemon(pokemon.url)" 
            [alt]="pokemon.name" loading="lazy" 
            onerror="this.src='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/0.png'">
        <figcaption class="pkdx__caption copy-body--large">{{pokemon.name}}</figcaption>
      </figure>
    </article>
  </a>
</div>
