@use 'src/styles' as *;

.pkdx {
  margin: 70px 0;
}

.pkdx__item-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.pkdx__item {
  border: 1px solid $pkdx-grey-500;
  border-radius: 5px;
  margin: 0 5px 10px;
  width: 120px;

  &:hover {
    box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
  }

  @include bp(m) {
    margin: 0 10px 20px;
    width: 160px;
  }
}

.pkdx__figure {
  padding: 10px 10px 20px;
  text-align: center;
}

.pkdx__image {
  height: 100px;
  width: 100%;  

  @include bp(m) {
    height: 160px;
  }
}

.pkdx__option,
.pkdx__caption {
  text-transform: capitalize;
}

.pkdx__filter {
  display: flex;
  margin: 0 5px;
  
  form {
    margin-left: auto;
  }
}
