$pkdx-grey-0:	#fff;
$pkdx-grey-25:	#f1f1f1;
$pkdx-grey-50:	#f8f9fa;
$pkdx-grey-100:	#f1f3f4;
$pkdx-grey-200:	#e8eaed;
$pkdx-grey-300:	#dadce0;	
$pkdx-grey-400:	#bdc1c6;
$pkdx-grey-500:	#9aa0a6;
$pkdx-grey-600:	#80868b;	
$pkdx-grey-700:	#5f6368;
$pkdx-grey-800:	#3c4043;
$pkdx-grey-900:	#202124;
$pkdx-blue-50:	#e8f0fe;
$pkdx-blue-100:	#d2e3fc;
$pkdx-blue-200:	#aecbfa;
$pkdx-blue-300:	#8ab4f8;
$pkdx-blue-400:	#669df6;
$pkdx-blue-500:	#4285f4;
$pkdx-blue-600:	#1a73e8;
$pkdx-blue-700:	#1967d2;
$pkdx-blue-800:	#185abc;
$pkdx-blue-900:	#174ea6;
$pkdx-green-50:	#e6f4ea;
$pkdx-green-100:	#ceead6;	
$pkdx-green-200:	#a8dab5;
$pkdx-green-300:	#81c995;
$pkdx-green-400:	#5bb974;
$pkdx-green-500:	#34a853;
$pkdx-green-600:	#1e8e3e;
$pkdx-green-700:	#188038;
$pkdx-green-800:	#137333;
$pkdx-green-900:	#0d652d;
$pkdx-red-50:	#fce8e6;
$pkdx-red-100:	#fad2cf;
$pkdx-red-200:	#f6aea9;
$pkdx-red-300:	#f28b82;
$pkdx-red-400:	#ee675c;
$pkdx-red-500:	#ea4335;
$pkdx-red-600:	#d93025;
$pkdx-red-700:	#c5221f;
$pkdx-red-800:	#b31412;
$pkdx-red-900:	#a50e0e;
$pkdx-yellow-50:	#fef7e0;	
$pkdx-yellow-100:	#feefc3;
$pkdx-yellow-200:	#fde293;
$pkdx-yellow-300:	#fdd663;
$pkdx-yellow-400:	#fcc934;
$pkdx-yellow-500:	#fbbc04;
$pkdx-yellow-600:	#f9ab00;
$pkdx-yellow-700:	#f29900;
$pkdx-yellow-800:	#ea8600;
$pkdx-yellow-900:	#e37400;
$pkdx-purple-900:	#681da8;
