@use 'src/styles' as *;

.pkdx__fav {
  margin: 100px 0;
}

.pkdx__item-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 24px;
}

app-article {
  width: 50%;

  @include bp(m) {
    width: unset;
  }
}
